[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "public"]
	path = public
	url = https://github.com/sanjayts/sanjayts.github.io
	branch = master
