[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://github.com/sanjayts/hugo-theme-even
[submodule "public"]
	path = public
	url = https://github.com/sanjayts/sanjayts.github.io
	branch = master
